:root {
  --primary: #025288;
}

* {
  min-width: 0;
}

body {
  display: grid;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  bottom: 0;
  min-height: 100%;
}

main {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
}

.col-left {
  display: grid;
}

.col-middle {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

.col-right {
  display: grid;
}

/*Main navigation*/
@media screen and (max-width: 2560px) { 

  header {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 9rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    flex-direction: column;
  }
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

nav ul li {
  display: flex;
  text-align: center;
}

nav ul li a {
  display: flex;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 1rem;
}

nav ul li a:hover {
  background-color: #111111;
}

/* Mobile Styles Navigation */
@media screen and (max-width: 320px) {

  header {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10rem;
  }

  nav {
    display: flex;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
  }

  main {
    grid-template-columns: 1fr;
    min-width: 0;
  }

  /* Card Styling on Mobile */

  .card {
    display: grid;
    max-width: 17.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 0;
    border-radius: 1rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

/*Brand Logo Class*/
#brand-logo {
  float: left;
  padding: 0;
}

/*Link style*/

a {
  text-decoration: none;
}

a:hover {
  color: aqua;
}

footer {
  display: grid;
  overflow: hidden;
  background-color: var(--primary);
  color: white;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 3rem;
}

/* Card Styling */

.card {
  display: grid;
  max-width: 50rem;
  background-color: white;
  justify-content: center;
  margin: 1rem 0 0 0;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  display: grid;
  justify-content: left;
  padding: 1rem;
  color: white;
  background-color: var(--primary);
}

.card-content {
  display: grid;
  justify-content: left;
  place-items: start;
  padding: 0 1rem 0 1rem;
}

.card-btn {
  display: grid;
  color: white;
  background-color: var(--primary);
  justify-content: center;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.card-btn:hover {
  background-color: #111111;
}